*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.电脑的选择区 {
  height: 30vh;
}

.电脑文字提示{
  height: 20%;
  font-size: 40px;
  color: black;
  text-align: center;
}

.电脑选择图片提示{
  display: flex;
  justify-content: center;
  align-items: center;
}

.电脑选择图片提示 >img{
  width: 300px;
  height: auto;
}

.人的选择{
  height: 20vh;
}

.人的文字提示{
  text-align: center;
  color: black;
  font-size: 30px;
}

.人的石头剪刀布选择区{
  display: flex;
  justify-content: center;
  align-items: center;
}

.人的石头剪刀布选择区 >img{
  width: 200px;
  height: auto;
}

.结果区{
  height: 10vh;
  text-align: center;
  color: red;
  font-size: 80px;
}

.重置区{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.重置区 >button{
  width:100px;
  height: 75px;
  border-radius: 5px;
  font-size: 20px;
  color: blueviolet;

}